{
  "presets": [["env", { "modules": false }], "react", "stage-1"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["react-hot-loader/babel"]
  ]
}